*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1.6;
    background-color: #F7F9FB;
}
header {
    background-color: #0A4D68;
    height: 55vh;
    width: 100%;
}
.menu {
    display: none;
}
.sls {
    margin-left: 15px;
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
}
.nav-list {
    position: absolute;
    top: 18px;
    right: 30px;
    margin-right: 6vw;
    list-style: none;
    display: flex;
    gap: 5vw;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.title {
    font-size: 2.5rem;
    color: white;
    margin: 6vh 4vw 0;
}
.tagline {
    color: white;
    margin: 10px 4vw;
}
.core {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.core-services {
    text-align: center;
    font-size: 2.25rem;
    padding: 15px 10px;
    margin-top: 10px;
}
.flexed {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.services {
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    margin: 10px 0;
    width: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px #0A4D68;
}
.services h4 {
    color: #1C1C1C;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
}
.services img {
    height: 15vh;
    width: 11vw; 
}
.services p {
    color: #5A5A5A;
    width: 80%;
    text-align: center;
}
.tailored {
    margin: 5vh auto;
    width: 82%;
    background-color: #E0E0E0;
}
.tailored > h4 {
    color:#0A4D68;
    padding: 15px;
    font-size: 1.8rem;
    text-align: center;
}
.industry {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 2vw;
}
.industry div {
    border-radius: 15px;
    width: 17vw;
    background-color: #0A4D68;
}
.industry div h4 {
    color: white;
    border: 2px solid #E0E0E0;
    padding: 3vh 1vw;
    text-align: center;
    font-size: 1.19rem;
}
footer {
    background-color: #333;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 18px;
    margin-top: 8px;
    width: 82vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
}
.logo_footer {
    width: 25vw;
    color: white;
    font-size: 29px;
    font-weight: bold;
    padding: 3px;
}
.footer {
    width: 60vw;
    margin-left: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot_nav {
    width: 15vw;
    list-style: none;
    gap: 5vw;
    margin-left: 20px;
}
.social_medias {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 2.3rem;
}
.foot_nav li {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.foot_nav li a {
    text-decoration: none;
    color: white;
}
.company {
    width: 43vw;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social_medias ion-icon {
    margin: 2px 6px;
    font-size: 1.5rem;
    color: #ff914d;
}
.copyright {
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 1.05rem;
}
@media (min-width: 320px) and (max-width: 480px) {
    header {
        height: 55vh;
    }
    .sls {
        margin-left: 12px;
        font-size: 1.5rem;
    }
    .nav-list {
        background-color: rgb(51, 50, 50);
        width: 30vw;
        height: 55vh;
        top: 0;
        padding: 15px 2px 10px;
        right: -30vw;
        margin-right: 0;
        flex-direction: column;
        gap: 5vw;
        transition: 0.3s all ease-in-out;
    }
    .nav-list :first-child {
        margin-top: 7vh;
    }
    .menu {
        display: block;
        color: white;
        position: absolute;
        top: 7px;
        right: 11px;
        font-size: 27px;
    }
    .nav-list li a{
        color: white;
    }
    .title {
        font-size: 1.8rem;
        margin: 14vh 4vw 0;
    }
    .core {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .core-services {
        font-size: 2rem;
        width: 75%;
    }
    .flexed {
        width: 90%;
        flex-direction: column;
    }
    .services {
        width: 100%;
        box-shadow: 0px 2px 6px #0A4D68;
    }
    .services img {
        height: 18vh;
        width: 33vw; 
    }
    .services p {
        color: #5A5A5A;
        width: 89%;
        text-align: center;
    }
    .tailored {
        width: 89%;
        background-color: #E0E0E0;
    }
    .tailored > h4 {
        color:#0A4D68;
        font-size: 1.7rem;
    }
    .industry {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 4px;
    }
    .industry div {
        border-radius: 15px;
        width: 95%;
        background-color: #0A4D68;
    }
    .industry div h4 {
        color: white;
        border: 2px solid #E0E0E0;
        padding: 3vh 1vw;
        text-align: center;
        font-size: 1.19rem;
    }
    .container {
        padding: 10px;
        justify-content: center;
        gap: 1.5vh;
        flex-wrap: wrap;
    }
    .logo_footer {
        letter-spacing: 1px;
        text-align: center;
        width: auto;
    }
    .foot_nav {
        width: 65vw;
    }
    .foot_nav li a {
        font-size: 15px;
    }
    .company {
        width: 80vw;
        gap: 4px;
    }
    .copyright {
        background-color: black;
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        padding: 5px;
        font-size: 0.8rem;
    }
}
